@import './base.css';


body {
  background: rgb(191, 191, 191);
  background: linear-gradient(90deg, rgba(191, 191, 191, 1) 0%, rgba(191, 191, 191, 1) 150px, rgba(255, 255, 255, 1) 150px);
}

/*NO LINE IN SMARTPHONE VERSION*/

@media screen and (max-width: 896px) {
  body {
    background: rgb(191, 191, 191);
    background: linear-gradient(90deg, rgba(191, 191, 191, 1) 0%, rgba(191, 191, 191, 1) 0px, rgba(255, 255, 255, 1) 0px);
  }

}

.headerlogo {
  width: 110px;
  height: 130px;
}


.jumbotron {
  min-height: 100vh;
}

.homepageparagraph {
  font-size: 24px;
}


.navbar {
  list-style: none;
  font-family: 'Fjalla One', sans-serif;
  margin-right: 20px;

}

.smallnavmenu {
  list-style: none;

}

.smallnavmenu i {
  font-size: 50px;
  color: gray;
}

.submenu {
  border: transparent;
  font-family: 'Fjalla One', sans-serif;
}

.submenu li a {
  font-family: 'Fjalla One', sans-serif;
  color: black;
  text-decoration: none;
}

.submenu li a:hover {
  color: #3bbce1;
}


header {
  font-family: 'Fjalla One', sans-serif;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  position: fixed;
  background-color: white;
  width: 100%;
  border-bottom: 1px solid rgb(219, 219, 219);
  z-index: 99999;
}

.intro h1 {
  color: #3bbce1;
  font-family: 'Fjalla One', sans-serif;
  font-size: 3vw;
}

.intro2 h1 {
  color: #3bbce1;
  font-family: 'Fjalla One', sans-serif;
  font-size: 4vw;
}

.h1blue {
  color: #3bbce1;
}


.navbar li a {
  text-decoration: none;
  color: black;
  font-size: 30px;
}

.navbar li a:hover {
  color: #3bbce1;
}

.illustration h1 {
  font-family: 'Cabin', sans-serif;


}

.illustration h3 {
  color: #3bbce1;

}

.esteticap {
  font-size: 15px;
}

.backwallpaper {
  
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  font-family: 'Cabin', sans-serif;


}


.backwallpaper div button a {
  font-family: 'Cabin', sans-serif;
}



/*ANIMATION*/

.backwallpaper button:hover {
  background-color: #ed5ea3;
  transition: all .4s;
}



.aboutwallpaper {
  background-image: url();
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  font-family: 'Cabin', sans-serif;
}

.teamwallpaper {
  background-image: url(https://images.pexels.com/photos/3184418/pexels-photo-3184418.jpeg?auto=compress&cs=tinysrgb&w=1600);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  font-family: 'Cabin', sans-serif;
}

.contactwallpaper {
  background-size: cover;
  background-repeat: no-repeat;
  height: 80vh;
  font-family: 'Cabin', sans-serif;
}

.backwallpaper h1 {
  font-family: 'Fjalla One', sans-serif;
  font-size: 8.5vw;
}

.aboutwallpaper h1 {
  font-family: 'Fjalla One', sans-serif;
  font-size: 8.5vw;
}

.aboutback {
  background-color: #d8f2f9;
  border-bottom: 1px solid #3bbce1;
  padding-top: 40px;
  padding-bottom: 40px;
}

.teamwallpaper h1 {
  font-family: 'Fjalla One', sans-serif;
  font-size: 5.5vw;
}

.contactwallpaper h1 {
  font-family: 'Fjalla One', sans-serif;
  font-size: 8.5vw;
  z-index: 100;
}


.impiantologiawallpaper {

  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  font-family: 'Cabin', sans-serif;
}

.impiantologiawallpaper h1 {
  font-family: 'Fjalla One', sans-serif;
  font-size: 8.5vw;
}

.impiantologiawallpaper button:hover {
  background-color: #ed5ea3;
  transition: all .4s;
}


.esteticawallpaper {

  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  font-family: 'Cabin', sans-serif;
}

.esteticawallpaper h1 {
  font-family: 'Fjalla One', sans-serif;
  font-size: 8.5vw;
}

.esteticawallpaper button:hover {
  background-color: #ed5ea3;
  transition: all .4s;
}


.gengivaliwallpaper {

  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  font-family: 'Cabin', sans-serif;
}

.gengivaliwallpaper h1 {
  font-family: 'Fjalla One', sans-serif;
  font-size: 8.5vw;
}

.gengivaliwallpaper button:hover {
  background-color: #ed5ea3;
  transition: all .4s;
}




.zigomaticawallpaper {

  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  font-family: 'Cabin', sans-serif;
}

.zigomaticawallpaper h1 {
  font-family: 'Fjalla One', sans-serif;
  font-size: 8.5vw;
}

.zigomaticawallpaper button:hover {
  background-color: #ed5ea3;
  transition: all .4s;
}


.gelwallpaper {
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  font-family: 'Cabin', sans-serif;
}

.gelwallpaper h1 {
  color: white;
  font-family: 'Fjalla One', sans-serif;
  font-size: 8.5vw;
}

.gelwallpaper button:hover {
  background-color: #ed5ea3;
  transition: all .4s;
}


.ortodonziawallpaper {
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  font-family: 'Cabin', sans-serif;
}


.ortodonziawallpaper h1 {
  color: white;
  font-family: 'Fjalla One', sans-serif;
  font-size: 8.5vw;
}

.ortodonziawallpaper button:hover {
  background-color: #ed5ea3;
  transition: all .4s;
}


.eccellenzawallpaper {
  background-image: url(/pexels-shiny-diamond-3762402.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  font-family: 'Cabin', sans-serif;
}

.eccellenzawallpaper h1 {
  color: white;
  font-family: 'Fjalla One', sans-serif;
  font-size: 8.5vw;
}

.eccellenzawallpaper button:hover {
  background-color: #ed5ea3;
  transition: all .4s;
}


.chirurgiawallpaper {

  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  font-family: 'Cabin', sans-serif;
}

.chirurgiawallpaper h1 {
  color: white;
  font-family: 'Fjalla One', sans-serif;
  font-size: 8.5vw;
}

.chirurgiawallpaper button:hover {
  background-color: #ed5ea3;
  transition: all .4s;
}


.allonfourwallpaper {

  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  font-family: 'Cabin', sans-serif;
}

.allonfourwallpaper h1 {
  color: white;
  font-family: 'Fjalla One', sans-serif;
  font-size: 8.5vw;
}

.allonfourwallpaper button:hover {
  background-color: #ed5ea3;
  transition: all .4s;
}


.otticawallpaper {
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  font-family: 'Cabin', sans-serif;
}

.otticawallpaper h1 {
  color: white;
  font-family: 'Fjalla One', sans-serif;
  font-size: 8.5vw;
}

.otticawallpaper button:hover {
  background-color: #ed5ea3;
  transition: all .4s;
}


/*END SERVICES WALLPAPER*/

.welcome {
  height: 60vh;

}


.illustration {
  margin-top: 200px;
  margin-bottom: 150px;
  opacity: 1;
  transition: all .4s;

}



.illustration button:hover {
  background-color: #ed5ea3;
  transition: all .4s;
}


.illustration h1 {
  font-family: 'Fjalla One', sans-serif;

}

.illustration h1 {
  font-family: 'Fjalla One', sans-serif;

}

.illustration img {
  width: 100%;
  border-radius: 10px;
}

button {
  width: 40%;
  border: transparent;
  background-color: #3bbce1;
  color: white;
  padding: 10px;
}

.footlist li {
  list-style-type: none;
  text-decoration: none;
}

.footlist li a {
  text-decoration: none;
  color: black;
}

.footlist li a:hover {
  color: #ed5ea3;
}

.imgcont {
  gap: 60px;
}

.imgcont img {
  border-radius: 10px;
  width: 300px;
  height: 250px;
  transition: transform .5s;
}

.imgcont img:hover {
  transform: scale(1.05);
}

.contactwallpaper {
  height: 100vh;
}

.datecontact {
  font-family: 'Fjalla One', sans-serif;

  transition: all .4s;
  opacity: 1;

}

.contactcontent {
  padding-left: 150px;

}

@media screen and (max-width: 895px) {

  .contactcontent {
    padding-left: 0px;


  }

}

@media screen and (max-width: 587px) {

  .contactcontent {
    padding-left: 0px;


  }

}

@media screen and (max-width: 457px) {

  .contactcontent {
    padding-left: 0px;


  }

}


.datecontact h1 {
  font-family: 'Fjalla One', sans-serif;
  color: #3bbce1;
  font-size: 50px;
}

.datecontact i {
  color: #3bbce1;
  margin-right: 10px;
}

.datecontact p {
  font-size: 15px;

}

.maps iframe {
  width: 100%;
}

.footlist h4 {
  font-family: 'Fjalla One', sans-serif;
}

.footlist ul i {
  color: #3bbce1;
  margin-right: 10px;
}


.copyright {
  color: #b3b3b3;
  font-size: 12px;
}

.finalhr {
  color: #3bbce1;
  height: 1px;
}

body::-webkit-scrollbar {
  width: 10px;
}

body {
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}

body::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}

body::-webkit-scrollbar-thumb {
  background-color: #3bbce1;
  border-radius: 6px;
  border: 3px solid var(--scrollbarBG);
}



/*MEDIAQUERY*/

@media screen and (min-width: 1730px) {

  .illustration p {
    font-size: 25px;
  }

  .esteticap {
    font-size: 21px !important;
  }

}

@media screen and (max-width: 1730px) {

  .illustration p {
    font-size: 25px;
  }

  .esteticap {
    font-size: 19px !important;
  }

}

@media screen and (max-width: 1600px) {

  .illustration p {
    font-size: 23px;
  }

}

@media screen and (max-width: 1500px) {

  .illustration p {
    font-size: 22px;
  }

  .esteticap {
    font-size: 17px !important;
  }

}

@media screen and (max-width: 1400px) {

  .illustration p {
    font-size: 20px;
  }

  .esteticap {
    font-size: 16px !important;
  }

}

@media screen and (max-width: 1300px) {

  .illustration p {
    font-size: 19px;
  }

  .esteticap {
    font-size: 14px !important;
  }

}

@media screen and (max-width: 1200px) {

  .illustration p {
    font-size: 17px;
  }

}

@media screen and (max-width: 1100px) {

  .illustration p {
    font-size: 19px;
  }

}

@media screen and (max-width: 1020px) {

  .illustration p {
    font-size: 17.5px;
  }

}

@media screen and (max-width: 900px) {

  .illustration p {
    font-size: 15px;
  }

}

@media screen and (max-width: 800px) {

  .illustration p {
    font-size: 12px;
  }

}

@media screen and (max-width: 768px) {

  .illustration p {
    font-size: 11.5px;
  }

}

@media screen and (max-width: 767px) {

  .illustration p {
    font-size: 20px;
  }

  .esteticap {
    font-size: 18px;
  }

}

@media screen and (max-width: 450px) {

  .illustration p {
    font-size: 16px;
  }

  .esteticap {
    font-size: 18px;
  }

}





@media screen and (max-width: 1000px) and (min-width: 808px) {
  .illustration h1 {
    font-size: 23px;
  }


  .illustration h3 {
    font-size: 18px;
  }

  .illustration button {
    width: 60%;
  }
}

@media screen and (max-width: 808px) and (min-width: 768px) {
  .illustration h1 {
    font-size: 21px;
  }


  .illustration h3 {
    font-size: 16px;
  }

  .illustration button {
    width: 60%;
  }
}


@media screen and (max-width: 1320px) and (min-width: 1200px) {
  .esteticap {
    font-size: 14px !important;
  }
}

@media screen and (max-width: 1258px) and (min-width: 1200px) {
  .esteticap {
    font-size: 13px !important;
  }
}

@media screen and (max-width: 1258px) and (min-width: 1102px) {
  .esteticap {
    font-size: 13px !important;
  }

  .homepageparagraph {
    font-size: 20px;
  }
}



@media screen and (max-width: 1102px) and (min-width: 898px) {
  .esteticap {
    font-size: 13px !important;
  }

  .homepageparagraph {
    font-size: 19px;
  }
}

@media screen and (max-width: 898px) and (min-width: 850px) {
  .esteticap {
    font-size: 12px !important;
  }

  .eseticah1 {
    font-size: 19px;
  }

  .homepageparagraph {
    font-size: 17px;
  }
}

@media screen and (max-width: 850px) and (min-width: 794px) {
  .esteticap {
    font-size: 11.3px !important;
  }

  .eseticah1 {
    font-size: 17px;
  }

  .homepageparagraph {
    font-size: 17px;
  }
}

@media screen and (max-width: 794px) and (min-width: 768px) {
  .esteticap {
    font-size: 10.3px !important;
  }

  .eseticah1 {
    font-size: 17px;
  }

  .homepageparagraph {
    font-size: 17px;
  }
}

/*INTRO MEDIA*/

@media screen and (max-width: 989px) and (min-width: 729px) {
  .intro {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .intro p {
    font-size: 16px;
  }

  .intro h3 {
    font-size: 22px;
  }

  .homepageparagraph {
    font-size: 17px;
  }
}

@media screen and (max-width: 729px) and (min-width: 650px) {
  .intro {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .intro p {
    font-size: 16px;
  }

  .intro h3 {
    font-size: 18px;
  }

  .homepageparagraph {
    font-size: 28px;
  }
}

@media screen and (max-width: 650px) and (min-width: 465px) {
  .intro {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .intro p {
    font-size: 16px;
  }

  .intro h3 {
    font-size: 18px;
  }

  .homepageparagraph {
    font-size: 28px;
  }
}

@media screen and (max-width: 465px) and (min-width: 411px) {
  .intro {
    padding-top: 180px;
    padding-bottom: 180px;
  }

  .intro p {
    font-size: 16px;
  }

  .intro h3 {
    font-size: 17px;
  }

  .homepageparagraph {
    font-size: 28px;
  }
}

@media screen and (max-width: 411px) and (min-width: 351px) {
  .intro {
    padding-top: 180px;
    padding-bottom: 180px;
  }

  .intro p {
    font-size: 14px;
  }

  .intro h1 {
    font-size: 18px;
  }

  .intro h3 {
    font-size: 16px;
  }
}

@media screen and (max-width: 351px) and (min-width: 0px) {
  .intro {
    padding-top: 220px;
    padding-bottom: 220px;
  }

  .intro p {
    font-size: 14px;
  }

  .intro h1 {
    font-size: 16px;
  }

  .intro h3 {
    font-size: 13px;
  }

  .intro2 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .intro2 p {
    font-size: 14px;
  }

  .intro2 h1 {
    font-size: 16px;
  }

  .intro2 h3 {
    font-size: 13px;
  }
}

/*BUTTON*/

@media screen and (max-width: 633px) and (min-width: 417px) {

  .impiantologiawallpaper button {
    width: 70%;
  }

  .chirurgiawallpaper button {
    width: 70%;
  }



  .esteticawallpaper button {
    width: 70%;
  }


  .gengivaliwallpaper button {
    width: 70%;
  }


  .zigomaticawallpaper button {
    width: 70%;
  }

  .gelwallpaper button {
    width: 70%;
  }

  .ortodonziawallpaper button {
    width: 70%;
  }

  .eccellenzawallpaper button {
    width: 70%;
  }

  .otticawallpaper button {
    width: 70%;
  }

  .allonfourwallpaper button {
    width: 70%;
  }

  .contactwallpaper button {
    width: 70%;
  }

  .ourteamwallpaper button {
    width: 70%;
  }

  .aboutwallpaper button {
    width: 70%;
  }

  .backwallpaper button {
    width: 70%;
  }

}

@media screen and (max-width: 417px) and (min-width: 0px) {

  .impiantologiawallpaper button {
    width: 100%;
    font-size: 12px;
  }

  .chirurgiawallpaper button {
    width: 100%;
    font-size: 12px;
  }



  .esteticawallpaper button {
    width: 100%;
    font-size: 12px;
  }


  .gengivaliwallpaper button {
    width: 100%;
    font-size: 12px;
  }


  .zigomaticawallpaper button {
    width: 100%;
    font-size: 12px;
  }

  .gelwallpaper button {
    width: 100%;
    font-size: 12px;
  }

  .ortodonziawallpaper button {
    width: 100%;
    font-size: 12px;
  }

  .eccellenzawallpaper button {
    width: 100%;
    font-size: 12px;
  }

  .otticawallpaper button {
    width: 100%;
    font-size: 12px;
  }

  .allonfourwallpaper button {
    width: 100%;
    font-size: 12px;
  }

  .contactwallpaper button {
    width: 100%;
    font-size: 12px;
  }

  .ourteamwallpaper button {
    width: 100%;
    font-size: 12px;
  }

  .aboutwallpaper button {
    width: 100%;
    font-size: 12px;
  }

  .backwallpaper button {
    width: 100%;
    font-size: 12px;
  }

}

@media screen and (max-width: 739px) and (min-width: 615px) {
  .backwallpaper p {
    font-size: 18px;
  }

  .intro h1 {
    font-size: 40px;
  }
}

@media screen and (max-width: 615px) and (min-width: 477px) {
  .backwallpaper p {
    font-size: 17px;
  }

  .intro h1 {
    font-size: 30px;
  }

  .intro2 {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

@media screen and (max-width: 477px) and (min-width: 0px) {
  .backwallpaper p {
    font-size: 16px;
  }

  .intro h1 {
    font-size: 24px;
  }

  .intro2 {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}



ANIMATION SCROLL

/*POPUP TEXT*/
.center {
  z-index: 100;
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}



#click {
  display: none;
}

.click-me {
  display: block;
  width: 160px;
  height: 50px;
  background: #3bbce1;
  border: transparent;
  color: white;
  text-align: center;
  font-size: 22px;
  line-height: 50px;
  border-radius: 3px;
  cursor: pointer;
  transition: .5s;
}

.click-me:hover {
  background: #ed5ea3;
}

.content {
  opacity: 0;
  visibility: hidden;
  width: 650px;

  background: white;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .4);
  z-index: 100;
}

#click:checked~.content {
  opacity: 1;
  visibility: visible;
}

#click1:checked~.content1 {
  opacity: 1;
  visibility: visible;
}

#click2:checked~.content2 {
  opacity: 1;
  visibility: visible;
}

#click3:checked~.content3 {
  opacity: 1;
  visibility: visible;
}

#click4:checked~.content4 {
  opacity: 1;
  visibility: visible;
}

#click5:checked~.content5 {
  opacity: 1;
  visibility: visible;
}

.header {
  height: 60px;
  background: #3bbce1;
  overflow: hidden;
  border-radius: 3px 3px 0 0;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .2);
}

.header h2 {
  color: white;

  font-weight: normal;
}

.fa-times {
  position: absolute;
  right: 20px;
  top: 20px;
  color: #e8f7fc;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.fa-check {
  font-size: 50px;
  color: #27ae60;
  font-weight: bold;
  height: 80px;
  width: 80px;
  border: 2px solid #27ae60;
  text-align: center;
  padding-top: 13px;
  border-radius: 50%;
  box-sizing: border-box;
  margin: 30px 0 0 160px;
}

.popupcontent {
  padding-top: 10px;
  font-size: 19px;
  color: #1a1a1a;
  text-align: center;
}

.line {
  position: absolute;
  bottom: 60px;
  width: 100%;
  height: 1px;
  background: silver;
}

.close-btn {
  position: absolute;
  bottom: 12px;
  right: 25px;
  border: 1px solid #27ae60;
  border-radius: 3px;
  color: #27ae60;
  padding: 8px 10px;
  font-size: 18px;
  cursor: pointer;
}

.close-btn:hover {
  background: #27ae60;
  color: white;
  transition: .5s;
}

/*BUTTON 1*/

.center1 {
  z-index: 100;
}

.content1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}



#click1 {
  display: none;
}

.click-me1 {
  display: block;
  width: 160px;
  height: 50px;
  background: #3bbce1;
  border: transparent;
  color: white;
  text-align: center;
  font-size: 22px;
  line-height: 50px;
  border-radius: 3px;
  cursor: pointer;
  transition: .5s;
}

.click-me1:hover {
  background: #ed5ea3;
}

.content1 {
  opacity: 0;
  visibility: hidden;
  width: 650px;

  background: white;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .4);
  z-index: 100;
}

#click-me1:checked~.content1 {
  opacity: 1;
  visibility: visible;
}

.header1 {
  height: 60px;
  background: #3bbce1;
  overflow: hidden;
  border-radius: 3px 3px 0 0;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .2);
}

/*button 2*/
.center2 {
  z-index: 100;
}

.content2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}



#click2 {
  display: none;
}

.click-me2 {
  display: block;
  width: 160px;
  height: 50px;
  background: #3bbce1;
  border: transparent;
  color: white;
  text-align: center;
  font-size: 22px;
  line-height: 50px;
  border-radius: 3px;
  cursor: pointer;
  transition: .5s;
}

.click-me2:hover {
  background: #ed5ea3;
}

.content2 {
  opacity: 0;
  visibility: hidden;
  width: 650px;

  background: white;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .4);
  z-index: 100;
}

#click-me2:checked~.content2 {
  opacity: 1;
  visibility: visible;
}

.header2 {
  height: 60px;
  background: #3bbce1;
  overflow: hidden;
  border-radius: 3px 3px 0 0;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .2);
}

/*BUTTON 3*/

.center3 {
  z-index: 100;
}

.content3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}



#click3 {
  display: none;
}

.click-me3 {
  display: block;
  width: 160px;
  height: 50px;
  background: #3bbce1;
  border: transparent;
  color: white;
  text-align: center;
  font-size: 22px;
  line-height: 50px;
  border-radius: 3px;
  cursor: pointer;
  transition: .5s;
}

.click-me3:hover {
  background: #ed5ea3;
}

.content3 {
  opacity: 0;
  visibility: hidden;
  width: 650px;

  background: white;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .4);
  z-index: 100;
}

#click-me3:checked~.content2 {
  opacity: 1;
  visibility: visible;
}

.header3 {
  height: 60px;
  background: #3bbce1;
  overflow: hidden;
  border-radius: 3px 3px 0 0;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .2);
}

/*BUTTON 4*/

.center4 {
  z-index: 100;
}

.content4 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}



#click4 {
  display: none;
}

.click-me4 {
  display: block;
  width: 160px;
  height: 50px;
  background: #3bbce1;
  border: transparent;
  color: white;
  text-align: center;
  font-size: 22px;
  line-height: 50px;
  border-radius: 3px;
  cursor: pointer;
  transition: .5s;
}

.click-me4:hover {
  background: #ed5ea3;
}

.content4 {
  opacity: 0;
  visibility: hidden;
  width: 650px;

  background: white;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .4);
  z-index: 100;
}

#click-me4:checked~.content2 {
  opacity: 1;
  visibility: visible;
}

.header4 {
  height: 60px;
  background: #3bbce1;
  overflow: hidden;
  border-radius: 3px 3px 0 0;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .2);
}

/*BUTTON 5*/

.center5 {
  z-index: 100;
}

.content5 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}



#click5 {
  display: none;
}

.click-me5 {
  display: block;
  width: 160px;
  height: 50px;
  background: #3bbce1;
  border: transparent;
  color: white;
  text-align: center;
  font-size: 22px;
  line-height: 50px;
  border-radius: 3px;
  cursor: pointer;
  transition: .5s;
}

.click-me5:hover {
  background: #ed5ea3;
}

.content5 {
  opacity: 0;
  visibility: hidden;
  width: 650px;

  background: white;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .4);
  z-index: 100;
}

#click-me5:checked~.content2 {
  opacity: 1;
  visibility: visible;
}

.header5 {
  height: 60px;
  background: #3bbce1;
  overflow: hidden;
  border-radius: 3px 3px 0 0;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .2);
}

@media screen and (max-width: 690px) {

  .content {
    width: 90%;
  }

  .content1 {
    width: 90%;
  }

  .content2 {
    width: 90%;
  }

  .content3 {
    width: 90%;
  }

  .content4 {
    width: 90%;
  }

  .content5 {
    width: 90%;
  }

}

/*POPUP IMAGE*/

.robertacvimage {
  z-index: 100;
  position: relative;

}


.direttsanit {
  font-size: 12px;
}


/*POP UP BUTTON*/

/*ICON*/

.azzurro {
  color: #3bbce1;
  padding: 10px;
}

/*phone wallpaper*/

@media screen and (max-width: 782px) {

  .backwallpaper h1 {
    font-family: 'Fjalla One', sans-serif;
    font-size: 8.5vw;
    padding-top: 40px;
  }

  .backwallpaper p {

    font-size: 15px;
  }


  .aboutwallpaper h1 {
    font-family: 'Fjalla One', sans-serif;
    font-size: 60px;
  }

  .aboutback {
    background-color: #d8f2f9;
    border-bottom: 1px solid #3bbce1;
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .teamwallpaper h1 {
    font-family: 'Fjalla One', sans-serif;
    font-size: 5vw;
  }

  .contactwallpaper h1 {
    font-family: 'Fjalla One', sans-serif;
    font-size: 50px;
  }


  .impiantologiawallpaper {
    background-image: url();
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    font-family: 'Cabin', sans-serif;
  }

  .impiantologiawallpaper h1 {
    font-family: 'Fjalla One', sans-serif;
    font-size: 14vw;
  }

  .impiantologiawallpaper button:hover {
    background-color: #ed5ea3;
    transition: all .4s;
  }


  .esteticawallpaper {
    background-image: url();
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    font-family: 'Cabin', sans-serif;
  }

  .esteticawallpaper h1 {
    font-family: 'Fjalla One', sans-serif;
    font-size: 12vw;
  }

  .esteticawallpaper button:hover {
    background-color: #ed5ea3;
    transition: all .4s;
  }


  .gengivaliwallpaper {
    background-image: url();
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    font-family: 'Cabin', sans-serif;
  }

  .gengivaliwallpaper h1 {
    font-family: 'Fjalla One', sans-serif;
    font-size: 12vw;
  }

  .gengivaliwallpaper button:hover {
    background-color: #ed5ea3;
    transition: all .4s;
  }




  .zigomaticawallpaper {
    background-image: url();
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    font-family: 'Cabin', sans-serif;
  }

  .zigomaticawallpaper h1 {
    font-family: 'Fjalla One', sans-serif;
    font-size: 12vw;
  }

  .zigomaticawallpaper button:hover {
    background-color: #ed5ea3;
    transition: all .4s;
  }


  .gelwallpaper {
    background-image: url();
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    font-family: 'Cabin', sans-serif;
  }

  .gelwallpaper h1 {
    color: white;
    font-family: 'Fjalla One', sans-serif;
    font-size: 12vw;
  }

  .gelwallpaper button:hover {
    background-color: #ed5ea3;
    transition: all .4s;
  }


  .ortodonziawallpaper {
    background-image: url();
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    font-family: 'Cabin', sans-serif;
  }


  .ortodonziawallpaper h1 {
    color: white;
    font-family: 'Fjalla One', sans-serif;
    font-size: 12vw;
  }

  .ortodonziawallpaper button:hover {
    background-color: #ed5ea3;
    transition: all .4s;
  }


  .eccellenzawallpaper {
    background-image: url();
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    font-family: 'Cabin', sans-serif;
  }

  .eccellenzawallpaper h1 {
    color: white;
    font-family: 'Fjalla One', sans-serif;
    font-size: 12vw;
  }

  .eccellenzawallpaper button:hover {
    background-color: #ed5ea3;
    transition: all .4s;
  }


  .chirurgiawallpaper {
    background-image: url();
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    font-family: 'Cabin', sans-serif;
  }

  .chirurgiawallpaper h1 {
    color: white;
    font-family: 'Fjalla One', sans-serif;
    font-size: 12vw;
  }

  .chirurgiawallpaper button:hover {
    background-color: #ed5ea3;
    transition: all .4s;
  }


  .allonfourwallpaper {
    background-image: url();
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    font-family: 'Cabin', sans-serif;
  }

  .allonfourwallpaper h1 {
    color: white;
    font-family: 'Fjalla One', sans-serif;
    font-size: 12vw;
  }

  .allonfourwallpaper button:hover {
    background-color: #ed5ea3;
    transition: all .4s;
  }


  .otticawallpaper {
    background-image: url();
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    font-family: 'Cabin', sans-serif;
  }

  .otticawallpaper h1 {
    color: white;
    font-family: 'Fjalla One', sans-serif;
    font-size: 12vw;
  }

  .otticawallpaper button:hover {
    background-color: #ed5ea3;
    transition: all .4s;
  }

}

@media screen and (max-width: 400px) {

  .backwallpaper h1 {
    font-family: 'Fjalla One', sans-serif;
    font-size: 10vw;
    padding-top: 80px;
  }

  .backwallpaper p {

    font-size: 12px;
  }


}

@media screen and (max-width: 389px) {

  .footlist {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
  }


}

ul {
  padding-right: 2rem;
}

.bang {
  padding-top: 0 px !important;
  padding-bottom: 0 px !important;
}

.mail {
  font-size: 12px;
}